

.align {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.align__item--start {
  align-self: flex-start;
}
.align__item--end {
  align-self: flex-end;
}

.text--center {
  text-align: center;
}

.card {
  background-color: #171a1c;
  border-radius: 1rem;
  color: #47474e;
  padding: 2rem;

}
/*.card__header {
  margin-bottom: 4rem;
}*/
.card__header:before, .card__header:after {
  content: ' ';
  display: table;
}
.card__header:after {
  clear: both;
}
.card__title {
  color: #fff;
  float: left;
  font-size: 1.5rem;
}
#card__logo {
  float: right;
}
#ccNumber__input {
  font-size: 2rem;
}
.card__expiration {
  float: left;
}
.card__ccv {
  float: right;
}
.card__ccv__input {
  width: 2.25rem;
}
.card .ui-selectmenu-button {
  float: left;
  margin-right: 2rem;
}
#cardFooter {
    text-align: center;
}


input {
  background-color: transparent;
  border: 0;
  color: #fff;
  font: inherit;
  width: auto;
}
input::placeholder {
  color: #fff;
}

label {
  display: block;
}

.form:before, .form:after {
  content: ' ';
  display: table;
}
.form:after {
  clear: both;
}
.form__field {
  margin-bottom: 1.5rem;
}
.form input {
  outline: 0;
}
.form input[type="email"], .form input[type="password"] {
  width: 100%;
}

.grid {
  margin: 0 auto;
  max-width: 36rem;
  width: 90%;
}

h1,
h2,
h3 {
  margin: 0 0 .5rem;
}
